<div class="container text-center">
    <h1>About Page</h1>
    
    <p>We are DevMatch. Our company focuses on creating an exclusive community
    for developers and entrepreneurs to meet.
    </p>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, maiores, ducimus minima ipsa praesentium cupiditate ipsam fugiat blanditiis totam omnis necessitatibus eaque itaque alias numquam accusamus facilis obcaecati culpa molestias.</p>
</div>