<!doctype html>
<html>
  <head>
    
  </head>
  <body>
    <p>You have received a message from the site's contact form from 
    <%= "#{ @name } at #{ @email }:" %></p>
    
    <p><%= @body %></p>
  </body>
</html>