.avatar-show-img {
  width: 128px;
  height: 128px;
  border-radius: 4px;
}

.job-title-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid #387F6E;
  border-radius: 4px;
  background-color: #148C6E;
  color: white;
  text-align: center;
}

.well.profile-contact-info  {
  background-color: #148C6E;
  border-color: #387F6E;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 0.75);
}

